# Go
backend-go/meeting.db
backend-go/meeting_server.log
backend-go/server
backend-go/uploads/

# Node
frontend/node_modules/
frontend/dist/
frontend/frontend_server.log
frontend/.env

# IDE / OS
.idea/
.vscode/
*.swp
Thumbs.db

# 编写生成的可执行文件
*.exe